.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}


.mat-elevation-z5 {
    position: relative;
    z-index: 2;
}

.nav {
    --tw-backdrop-blur: blur(0);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    background-color: rgb(255 255 255 / 1);
}

@media screen and (max-width: 640px) {
    .icon {
        margin-left: 10px;
    }
}