html {
    height: fit-content;
    width: auto;
}

@media screen and (max-width: 640px) {
    /* html {
        height: 50%;
        width: auto;
    } */

    body {
        padding-top: 60%;
        height: fit-content;
        position: relative;
        top: 100%;
        left: 0%;
    }

    .footer {
        position: relative;
        top: 0%;
        left: 0%;
    }
}