html {
    height: fit-content;
    width: auto;
}

@media screen and (max-width: 640px) {
    html {
        height: 30%;
        width: auto;
    }

    body {
        height: fit-content;
        position: relative;
        top: 100%;
        left: 0%;
    }

    .footer {
        position: relative;
        top: 0%;
        left: 0%;
    }
}