input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
}

.content {
    width: 50%;
    height: 100%;
}

textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 120px;
    resize: none;
    background-color: #fff;
}

@media screen and (max-width: 640px) {


    body {
        position: relative;
        top: 50%;
        left: 0%;
        margin-left: 0;
        padding-left: 0;
        display: block;
        height: fit-content;
    }

    .container {
        position: relative;
        top: 0%;
        left: 0%;
        margin-left: 2%;
        padding-left: 0;
    }

    .note {
        padding-left: 5%;
        width: 350px;
    }

    .form {
        padding-left: 5%;
        width: 350px;
    }

    .form button {
        margin-top: 0;
    }
}