<div class="container m-24 contact mt-52 pt-20" id="contact" #contact>
    <div>
        <p class="text-base m-0 p-0 tracking-widest color text-cyan-500">CONTACT</p>
        <p class="text-3xl font-bold m-0 p-0 tracking-wider">Get in Touch</p>
    </div>
    <div class="content">
        <p>
            Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday
        </p>
        <div class="m-5 mt-7 mb-7"><input type="text" id="name" placeholder="Name" autocomplete="off"></div>
        <div class="m-5 mt-7 mb-7"><input type="text" id="email" placeholder="Email" autocomplete="off"></div>
        <div class="m-5 mt-7 mb-7"><textarea type="text" id="message" placeholder="Message" autocomplete="off"></textarea></div>
        <div><button class="bg-blue-400 text-white text-lg font-medium tracking-wide m-5 p-4 pr-7 pl-7 rounded-xl hover:bg-opacity-95">Send Message</button></div>
    </div>
</div>
