html {
    scroll-behavior: smooth;
}

ul li {
    margin: 10px 0px 10px 0px;
    width: 50%;
    float: left;
    position: relative;
    padding-left: 30px;
}

ul li svg {
    color: aqua;
    position: absolute;
    left: 0px;
    top: 3px;
    width: 17px;
    height: 17px;
    fill: currentcolor;
    margin-left: 3px;
}

.label {
    min-width: 85px;
    font-weight: bold;
    display: inline-block;
}

.content {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    padding-top: 100px;
    margin-bottom: 300px;
}

.img-left {
    width: 30%;
    float: left;
    height: auto;
    padding-left: 50px;
}

.content-right {
    width: 65%;
    height: auto;
    padding-left: 70px;
}

.button {
    margin-top: 20px;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    width: fit-content;
}


@media screen and (max-width: 640px) {

    .content {
        display: block;
    }

    .img-left {
        width: 100%;
        padding-left: 6%;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .content-right {
        width: 70%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .title {
        margin-left: 2%;
    }

    .container {
        margin-left: 0;
    }

    ul li {
        width: 100%;
    }
}