<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" #home>
        <div class="containerr">\

            <div class="home" id="home">
                <img class="background absolute top-15 left-0 right-0 bg-cover" src="assets/Image/background.png" alt="">
            </div>
            <div class="absolute content m-0 p-0 ">
                <div class="p-3">
                    <img class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-700 inline-block h-[13rem] w-[13rem] rounded-full shadow-2xl p-2" src="assets/Image/avatar1.jpg" alt="Image Description">
                </div>
                <div class="text-4xl font-bold tracking-widest tablet:text-xl">BÙI ĐỨC HẢI</div>
                <h1 class="text-xl text-black" #tw></h1>
            </div>
        </div>
    </div>
</body>
</html>