.content {
    top: 30%;
    width: 100%;
    text-align: center;
}

.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width:1000px) {
    .background {
        height: 100%;
    }
}