/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: "Tiltneon";
    src: url("assets/font/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("assets/font/Pacifico/Pacifico-Regular.ttf");
}