.service {
    width: 100%;
    height: auto;
}

ul li {
    width: 50%;
    margin: 0px 0px 50px 0px;
    float: left;
    padding-left: 50px;
}

ul li svg {
    width: 50px;
    color: aqua;
    height: 50px;
    margin-bottom: 17px;
    fill: currentColor;
}

ul li .content {
    width: 70%;
    height: 100%;
    clear: both;
    float: left;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .09);
    padding: 60px 40px 53px 40px;
    background-color: #fff;
}


ul li .content:hover {
    box-shadow: 0px 0px 20px rgba(0, 59, 253, 0.09);
}


@media screen and (max-width: 640px) {
    .container {
        display: block;
        position: relative;
        top: 30%;
        left: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .title {
        width: fit-content;
        margin-left: 2%;
    }

    ul li {
        display: block;
        width: 100%;
        margin: 10px;
        margin-left: 30px;
    }
}